<div class="masthead-wrap">
  <div class="masthead">

    <div class="language-nav-wrap">

      <div class="language-nav">
        <ul>
          <li ><a href="#">ENGLISH</a></li>
          <li><a href="#">中文</a></li>
          <li><a href="#">(CHINESE)</a></li>
          <li><a href="#">ESPAÑOL</a></li>
        </ul>
      </div>
    </div>
    <div class="logo">
      <img src="assets/AA_Times_Logo.png" alt="">
    </div>

    <div class="masthead-links">
      <ul>
        <li>Tuesday, October 18, 2016</li>
        <li><i class = "fa fa-newspaper-o"></i>Today’s Paper</li>
        <li><i class="fa fa-video-camera"></i>Video</li>
      </ul>
    </div>

  </div>

  
</div>
