<div id="inner-mid-aa-content" class="">
  <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>

  <div class="news-content-description">
      <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>
      <p class="summary-txt">The whole state of your app is stored in an object tree inside a single store.
      The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</p>
  </div>
</div>
