<div id="inner-right-aa-content" class="opinion-pages">

  <h2 class="title center-me">The Opinion Pages</h2>
  <div class="col col-1-2">
    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>

    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>
    </div>

    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>

    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>

  </div>



  <div class="col col-1-2">
    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>

    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>
    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>


    <div class="news-content">
      <div class="news-headline">
        <h2 class="title">Launching the New React/Redux Curriculum</h2>
        <h3 class="author"><span>By</span> APP ACADEMY INSTRUCTIONAL TEAM</h3>
      </div>
      <div class="news-content-description">
          <p class="summary-txt">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>

      </div>

    </div>


  </div>
</div>
