<div id="sections-sidebar">
  <nav>
    <ul>
      <li>
        <section class="dropdown">
          <a href="#">World</a> 
          <ul>
              <li>lorem ipsum</li>
              <li>Lorem ipsum dolor</li>
          </ul>
        </section>
       </li>
      <li><a href="#">US</a></li>
      <li><a href="#">Politics</a></li>
      <li><a href="#">N.Y.</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Opinion</a></li>
      <li><a href="#">Tech</a></li>
      <li><a href="#">Science</a></li>
      <li><a href="#">Health</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Arts</a></li>
      <li><a href="#">Style</a></li>
      <li><a href="#">Food</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Magazine</a></li>
      <li><a href="#">T Magazine</a></li>
      <li><a href="#">Real Estate</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </nav>
</div>
